.username_menu {
    float: right !important;
}

.thread {
    margin: 20px;
}

.addtopic,.addreply, .settings-button {
    float: right;
}
.addtopic:link,.addtopic:visited,.addreply:link,.addreply:visited, .settings-button:link, .settings-button:visited {
    color: #212529;
    text-decoration: none;
}

.link:link, .link:visited {
    color: #212529;
    text-decoration: none;
}

.profile-picture {
    width: 200px;
    height: 200px;
}

.footer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    bottom: 0 !important;
    margin-bottom: 0 !important;
}